#intro {
    padding: 0 20px;
    min-height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    h2 {
        color: #13111f;
        margin-bottom: 15px;
        font-weight: bold;
        span {
            color: #ffc600;
        }

        @media (max-width: $tablets) {
            font-size: 1.3rem;
        }
    }
    h3 {
        color: #31445e;
        @media (max-width: $tablets) {
            font-size: 1.1rem;
        }
    }
    .illustration {
        display: inline-block;
        width: 444px;
        @media (max-width: $tablets) {
            width: 360px;
        }
    }
}

#statistics {
    .stat_box {
        background-color: #fff;
        border-radius: 20px;
        padding: 15px 20px;
        color: #13111f;
        box-shadow: 0px 0px 20px rgba(#d3d8df, 0.7);
        position: relative;
        .icon {
            color: #fff;
            background-color: #13111f;
            width: 50px;
            height: 50px;
            border-radius: 15px;
            text-align: center;
            line-height: 50px;
            font-size: 22px;
            margin-bottom: 10px;
        }
        .stat_title {
            font-size: 16px;
            margin: 0;
            color: #31445e;
        }
        .stat_chiffre {
            font-size: 32px;
            font-weight: bold;
            @media (max-width: $tablets) {
                font-size: 1.1rem;
            }
            span {
                font-size: 16px;
                padding-left: 10px;
            }
        }
        .help_icon {
            position: absolute;
            right: 10px;
            top: 10px;
            color: #8ba7cc;
            @media (max-width: $tablets) {
                top: 23px;
            }
            i {
                background-color: #deecfd;
                padding: 5px;
                cursor: pointer;
                border-radius: 7px;
            }
        }
    }
}

#graph {
    .date_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        .date {
            color: #31445e;
            i {
                margin-right: 10px;
            }
        }
        .time_select {
            p {
                display: inline-block;
                color: #31445e;
                margin-left: 10px;
                cursor: pointer;
                padding: 7px 10px;
                border-radius: 7px;
                transition: all 0.3s;
                &.active {
                    background-color: #c9ddf7;
                    font-weight: bold;
                }
            }
        }
        .input-group {
            width: auto;
            select {
                background-color: transparent;
                color: #13111f;
                font-weight: bold;
                border-width: 2px;
            }
        }
    }
}

#targets {
    .targets_box {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px 10px;
        color: #31445e;
        box-shadow: 0px 0px 20px rgba(#d3d8df, 0.7);
        position: relative;
        img {
            width: 100%;
        }
        .target_name {
            font-weight: bold;
            span {
                display: block;
                font-weight: normal;
            }
        }
        .target_details {
            color: rgb(53, 53, 53);
            span {
                font-weight: bold;
            }
        }
        .progress_val {
            position: absolute;
            color: #000;
            font-size: 38px;
            font-weight: bold;
            top: 65px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .new_targets_box {
        h3 {
        }
        img {
            width: 100%;
        }
    }
}

#orders {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(#d3d8df, 0.7);
    border-radius: 10px;
    padding: 30px 10px;
    .progress_container {
        .line_progress {
            width: 100px;
            height: 15px;
            border-radius: 15px;
            background-color: #dfdfdf;
            overflow: hidden;
            position: relative;
            margin-bottom: 15px;
            .linprog_value {
                position: absolute;
                left: 0;
                top: 0;
                width: 50%;
                height: 100%;
                background-color: #f56f3c;
                &.blue {
                    background-color: #5465cf;
                }
                &.orange {
                    background-color: #f56f3c;
                }
                &.pink {
                    background-color: #f938d9;
                }
            }
        }
    }
    .order_desc {
        h5 {
            font-size: 28px;
            color: #31445e;
            font-weight: bold;
            margin-bottom: 20px;
            span {
                display: block;
                font-weight: normal;
                font-size: 16px;
            }
        }
        .label_order {
            color: #31445e;
            &::before {
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                margin-right: 10px;
                border-radius: 50%;
            }
            &.blue::before {
                background-color: #5465cf;
            }
            &.orange::before {
                background-color: #f56f3c;
            }
            &.pink::before {
                background-color: #f938d9;
            }
        }
    }
}

#targets_box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    color: #31445e;
    h5 {
        margin-bottom: 20px;
        font-size: 16px;
    }
    .sell_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        .order {
            background-color: #c9ddf7;
            color: #31445e;
            font-weight: bold;
            padding: 3px 5px;
            font-size: 12px;
            border-radius: 5px;
        }
        .prog {
            width: 80px;
            height: 8px;
            border-radius: 15px;
            background-color: #dfdfdf;
            overflow: hidden;
            position: relative;
            .linprog_value {
                position: absolute;
                left: 0;
                top: 0;
                width: 50%;
                height: 100%;
                background: linear-gradient(45deg, #5ba8fb 0%, #314575 100%);
            }
        }
    }
}

//start services components
#services {
    direction: rtl;
    svg {
        fill: none;
        stroke-width: 2px;
        stroke: #31445e;
        font-size: 70px;
    }
    .service_p {
        padding: 15px;
        p {
            text-align: right;
        }
    }
    .col-md-3 {
        display: flex;
        align-items: center;
    }
    .img_serv {
        display: block;
        width: 100%;
    }
}

//end services component
#to_top_arrow {
    position: fixed;
    bottom: 50px;
    right: 20px;
    font-size: 40px;
    color: #31445e;
    z-index: 19;
    cursor: pointer;
    background-color: #c9ddf7;
    width: 60px;
    line-height: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.demo {
    canvas {
        width: 150px !important;
        height: 150px !important;
    }
}
