.infocontainer-mansy{
       width: 100% !important;
}
.content_wrapper_mansy{
       padding: 14px !important;
}
.content_wrapper_mansy_2{
       padding: 11px !important;
}
.mansy-home-section{
       .text{
              font-size: 18px !important;
       }
}
.mansy-select{
       .dropdown-item {
              display: flex;
              justify-content: flex-start;
              align-items: center;
       }
}
@media screen and (max-width:768px){
       .mansy_pagecontent{
              margin-right:0px !important
       }
}