.navbar {
    width: 100%;
    background-color: #eaeaf4;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    #humbergur {
        cursor: pointer;
        font-size: 28px;
        color: #31445e;
        transition: all 0.3s ease-out;
        width: auto !important;
    }
    .nav_warpper {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        flex: 1;
        @media (max-width: $landscape) {
            justify-content: center;
        }
        & > div {
            margin-left: 25px;
        }
    }
    .language {
        select {
            padding: 6px;
            font-size: 15px;
            color: #31445e;
            border: 0;
            outline: none;
            border-radius: 20px;
        }
    }
    .profil_drop {
        background: none;
        box-shadow: none;
        padding: 10px;
        border: 0;
    }
    .avatar {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
    }
    .nav_icon {
        position: relative;
        .icon_link_container {
            background-color: #fff;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: $landscape) {
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                margin-left: 10px;
            }
        }
        img {
            width: 25px;
        }
        .notif {
            position: absolute;
            top: -5px;
            right: -5px;
            width: 16px;
            height: 16px;
            text-align: center;
            line-height: 16px;
            font-size: 10px;
            color: #fff;
            font-weight: bold;
            border-radius: 50%;
            border: 1ox solid #fff;
            background-color: #fdcb12;
        }
    }
    .settings {
        margin-left: 30px;
        background-color: #fff;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        display: inline-block;
        @media (max-width: $landscape) {
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
        }

        .fa-cog {
            @media (max-width: $landscape) {
                font-size: 1rem !important;
            }
        }
        img {
            width: 25px;
        }
    }
}

.noarrow.dropdown-toggle::after {
    display: none;
}

// Cart And Notofication
//cart
.embtyCart {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 20px;
    border-start-start-radius: 0px;
    .img-con {
        width: 100%;
    }
    h5 {
        font-size: 0.9rem;
        font-weight: 600;
    }
    p {
        color: #999;
        font-size: 0.7rem;
    }
    a {
        border-radius: 20px;
        font-size: 0.7rem;
        font-weight: bold;
        width: 8rem;
        background-color: #f4c208;
    }
}

.fillCart {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    padding: 10px 3px;
    border-radius: 20px;
    border-start-start-radius: 0px;
    .up {
        font-size: 0.7rem;
        font-weight: bold;
        color: #888;
        height: 15px;
    }
    .thecontent {
        height: 10rem;
        overflow-y: scroll;
        overflow-x: hidden;
        .cartcontent {
            padding-right: 10px;
            .imagecon {
                img {
                    min-width: 1.8rem !important;
                }
            }
            .col-6 {
                padding-left: 0px;
                padding-right: 0px;
            }
            .Quantityy {
                padding-top: 3px;
                input {
                    width: 20px;
                }
                a {
                    width: 15px;
                    height: 15px;
                    background: #222;
                    line-height: 15px;
                    font-size: 10px;
                }
            }
            .trashh {
                padding-top: 10px;
            }
        }
    }
    .bottombutton {
        a {
            border-radius: 20px;
            font-size: 0.7rem;
            font-weight: bold;
            width: 8rem;
            background-color: #f4c208;
            display: block;
            margin: 10px auto;
        }
    }
}

// Notofication
.embtynotification {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 20px;
    border-start-start-radius: 0px;
    .img-con {
        width: 100%;
    }
    h5 {
        font-size: 0.9rem;
        font-weight: 600;
    }
    p {
        color: #999;
        font-size: 0.7rem;
    }
}

.fillnotification {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 20px;
    border-start-start-radius: 0px;
    padding-bottom: 20px;
    min-width: 14rem !important;
    padding: 20px 10px;
    overflow-y: scroll;
    height: 18rem;
    .landbox {
        margin-top: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        border-radius: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        &.info-container {
            border-left: 2px solid #17a2b8;
        }
        &.success-container {
            border-left: 2px solid #28a745;
        }
        &.warning-container {
            border-left: 2px solid #ffc107;
        }
        .h3 {
            font-size: 1rem;
            font-weight: bold;
        }
        p {
            font-size: 0.7rem;
            color: #888;
            font-weight: 500;
        }
    }
}
